.button {
  display: inline-block;
  font-weight: 700;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  border: 0;
  border-radius: 3em;
  cursor: pointer;

  &--primary {
    color: white;
    background-color: #1ea7fd;
  }

  &--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
  }

  &--small {
    padding: 10px 16px;
    font-size: 12px;
  }

  &--medium {
    padding: 11px 20px;
    font-size: 14px;
  }

  &--large {
    padding: 12px 24px;
    font-size: 16px;
  }
}
