@use "../settings/border";
@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/typography";

.input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: spacing.$tiny spacing.$xxs;
  font: typography.$b400-regular;
  background: colors.$white;
  border: 1px solid colors.$input-border;
  border-radius: border.$radius-default;

  &--small {
    padding: spacing.$tiny spacing.$xxs;
  }

  &--medium {
    height: 3.75rem;
    padding: spacing.$xxs spacing.$sm;
  }

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }
  }
}
