@use "../settings/colors";

.loader {
  display: block;
  width: 4em;
  height: 4em;
  margin: 1em auto;
  animation: rotate 2s linear infinite;

  > * {
    animation: dash 1.5s ease-in-out infinite;
    stroke: colors.$text-primary;
    stroke-linecap: round;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
