$_tiny: 0.5rem;
$_xxs: 0.75rem;
$_xs: 1rem;
$_sm: 1.25rem;
$_md: 1.5rem;
$_lg: 2rem;
$_xl: 3rem;
$_xxl: 4rem;
$_xxxl: 6rem;
$_huge: 8rem;
$_mega: 11.375rem;

$tiny: $_tiny;
$xxs: $_xxs;
$xs: $_xs;
$sm: $_sm;
$md: $_md;
$lg: $_lg;
$xl: $_xl;
$xxl: $_xxl;

$section: $_xxxl;
$section-huge: $_huge;
$section-mega: $_mega;
