$_primary-green: #3cff64;
$_primary-blue: #1a2233;
$_primary-gray: #787676;
$_primary-grayLight: #b1b1b1;
$_primary-grayLighter: #efefef;
$_primary-white: #fff;
$_secondary-violet: #7026f4;
$_secondary-yellow: #fef878;
$_secondary-pink: #e0a4bf;
$_hover-green: rgb(60 255 100 / 70%);
$_hover-blue: rgb(26 34 51 / 75%);
$_hover-white: rgb(255 255 255 / 70%);
$_error: #f83d32;

$brand: $_primary-green;

$cta-primary: $_primary-green;
$cta-primary-hover: $_hover-green;
$cta-secondary: $_primary-blue;
$cta-secondary-hover: $_hover-blue;

$bg-primary: $_primary-green;
$bg-darkTheme: $_primary-blue;
$bg-selection: $_secondary-yellow;
$bg: $_primary-grayLighter;

$text-primary: $_primary-blue;
$text-secondary: $_primary-gray;
$text-secondary-darkTheme: $_primary-grayLight;
$text-tertiary: $_secondary-violet;

$product-alt1: $_primary-green;
$product-alt2: $_secondary-violet;
$product-alt3: $_secondary-yellow;
$product-alt4: $_secondary-pink;

$white: $_primary-white;
$white-hover: rgb(255 255 255 / 70%);

$state-active: $_primary-green;
$state-error: $_error;
$state-disabled: $_primary-grayLight;
$state-disabled-bg: $_primary-grayLighter;

$input-active: $_secondary-violet;
$input-default: $_primary-gray;
$input-border: $_primary-grayLight;

$checbox-active: $_primary-blue;
$checkbox-disabled: $_primary-grayLight;
$checkbox-disabled-bg: $_primary-grayLighter;
