@use "../settings/colors";

.link {
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: colors.$state-active;
    text-decoration: none;
  }

  &:disabled {
    color: colors.$state-disabled;
  }

  &--primary {
    color: colors.$text-primary;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &--secondary {
    color: colors.$text-primary;
  }

  &--tertiary {
    color: colors.$text-tertiary;
  }

  &--inverted {
    color: colors.$white;
    text-decoration: underline;
  }
}
