@use "@codely/design-system/src/settings/border";
@use "@codely/design-system/src/settings/sizes";
@use "@codely/design-system/src/settings/spacing";

.value {
  display: flex;
  gap: spacing.$xl;
  align-items: center;
  justify-content: space-between;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 spacing.$md;

  @media (min-width: sizes.$desktop) {
    max-width: 73rem;
    padding-right: 9rem;
  }

  &__story {
    display: none;
    flex-basis: 22.7rem;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: border.$radius-xl;
    box-shadow: 0 20px 50px rgb(0 0 0 / 25%);

    @media (min-width: sizes.$tablet) {
      display: block;
    }

    > img {
      display: block;
    }
  }
}
